/* wow you REALLY want to find something secret don't you? */

h1{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    position: relative;
    top: 250px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}